//  /views
        .footer.jade

// This jade file is to simply take care of the footer.

.container
    p.pull-right
      a(href='#top') Back to top
    p
      | &copy; 2016 Created by Rogerio Ribeiro.

// /.end of container